.p-container {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  padding: 5px;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(143, 143, 143, 0.4);
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background: #f0f2f5;
  }
  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 10px;
  }
}
